
<header class="bg-white py-2 shadow-md">
  <div class="container flex items-center justify-between">
    <div class="brand">Speedo Transfer</div>

    <ul class="flex list-none m-0 p-0">
      <li class="mx-4">
        <a routerLink="../home" class="text-black text-base py-2 px-3 hover:text-red-800">Home</a>
      </li>
      <li class="mx-4">
        <a routerLink="../money-transfer" class="text-black text-base py-2 px-3 hover:text-red-800">Money Transfer</a>
      </li>
      <li class="mx-4">
        <a routerLink="../my-account" class="text-black text-base py-2 px-3 hover:text-red-800">My Account</a>
      </li>
    </ul>

    <div class="button-container flex">
      <a routerLink="#" class="login-btn">Login</a>
      <a href="#" class="register-btn" (click)="onRegisterClick()">Register Now</a>
    </div>
  </div>
</header>

