<section class="mobile-app py-16 px-24 flex justify-between items-center bg-primary-p50">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">

  <div class="image-container">
    <img src="../../../assets/2.png" alt="Mobile Phone" class="mobile-photo rounded-photo">
  </div>
  <div class="details-container">
    <h2 class="text-red-700 mb-5">Mobile Application</h2>
    <p class="download-statement">Download our apps for your mobile phone for service</p>
    <p class="text-base text-gray-900 mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
    <div class="text-arrow-container">
      <ul class="list-none">
        <li class="text-base text-gray-900 mb-2 flex items-center">
          <img src="/assets/mobileapparrow.png" alt="Arrow" class="arrow-icon mr-2">
          <span class="sub-header-text">Lorem Ipsum is simply dummy</span>
        </li>
        <li class="text-base text-gray-900 mb-2 flex items-center">
          <img src="/assets/mobileapparrow.png" alt="Arrow" class="arrow-icon mr-2">
          <span class="sub-header-text">Lorem Ipsum is simply dummy text of the printing</span>
        </li>
        <li class="text-base text-gray-900 mb-2 flex items-center">
          <img src="/assets/mobileapparrow.png" alt="Arrow" class="arrow-icon mr-2">
          <span class="sub-header-text">Lorem Ipsum is simply</span>
        </li>
      </ul>
    </div>
    <div class="store-buttons flex justify-start">
      <img src="../../../assets/AppStore.png" alt="App Store" class="m-2 w-36 cursor-pointer">
      <img src="../../../assets/GooglePlay.png" alt="Google Play" class="m-2 w-36 cursor-pointer">
    </div>
  </div>
</section>
