<section class="getting-started-section">
  <h2 class="getting-started-heading">Getting Started</h2>
  <p class="lorem-statement">Lorem Ipsum is simply dummy text of the printing.</p>
  <div class="card-container">
    <div class="card">
      <img src="assets/Get1.png" alt="Step 1 Image" />
      <div class="card-content">
        <h3>
          <span class="text-red-800">1.</span> Create Account
        </h3>
        <p>Adipiscing elit neque eu diam nim etus arcu porta vivamus pretium auctor ut nam sed.</p>
      </div>
    </div>
    <div class="card">
      <img src="assets/Get2.png" alt="Step 2 Image" />
      <div class="card-content">
        <h3>
          <span class="text-red-800">2.</span> Confirmation
        </h3>
        <p>Adipiscing elit neque eu diam nim etus arcu porta vivamus pretium auctor ut nam sed.</p>
      </div>
    </div>
    <div class="card">
      <img src="assets/Get3.png" alt="Step 3 Image" />
      <div class="card-content">
        <h3>
          <span class="text-red-800">3.</span> Payment
        </h3>
        <p>Adipiscing elit neque eu diam nim etus arcu porta vivamus pretium auctor ut nam sed.</p>
      </div>
    </div>
  </div>
</section>
